<div class="container">

  <h1>Modal Examples</h1>

  <!--свой темплет можно передать как через локальную референцию, так и поместив в el-modal-->
  <ng-template #authModalBody
               let-title="title"
               let-loginTabActive="loginTabActive">
    <h5>{{title}}</h5>
    <div class="container">
      <ng-template #alternativeTabPanelBtn>
        <button (click)="tabPanel.selectTab(loginTab)">Login!</button>
        <button (click)="tabPanel.selectTab(signUp)">SignUp!</button>
      </ng-template>
      <app-au-tab-panel #tabPanel
                        [headerTemplate]="alternativeTabPanelBtn">

        <app-au-tab [title]="'Login'"
                    [selected]="loginTabActive"
                    #loginTab>
          <form>s
            <div class="form-field">
              <label>Email:</label><input>
            </div>
            <div class="form-field">
              <label>Password:</label><input>
            </div>
          </form>
        </app-au-tab>

        <app-au-tab [title]="'SignUp'"
                    [selected]="!loginTabActive"
                    #signUp>
          <form>
            <div class="form-field">
              <label>Email:</label><input>
            </div>
            <div class="form-field">
              <label>Password:</label><input>
            </div>
            <div class="form-field">
              <label>Confirm Password:</label><input>
            </div>
          </form>
        </app-au-tab>

        <app-au-tab [title]="'Contact'">
          <form>
            <div class="form-field">
              <label>Email:</label><input>
            </div>
            <div class="form-field">
              <label>Message:</label>
              <textarea></textarea>
            </div>
          </form>
        </app-au-tab>
      </app-au-tab-panel>
    </div>
  </ng-template>

  <el-modal [body]="authModalBody"
            [hideOnClickOutside]="false"
            [hideOnEsc]="true"
            *elModalOpenOnClick="[loginButton, signUpButton]"
            [context]="{title: 'Login or Sign Up' , loginTabActive: loginActive}"
            #modal
            class="auth-modal">
    <i class="fa fa-times"
       (click)="modal.closeModal()"></i>
  </el-modal>


  <div class="modal-buttons">
    <button #loginButton
            (click)="setLoginActive(true)">Login
    </button>

    <button #signUpButton
            (click)="setLoginActive(false)">Sign Up
    </button>

  </div>

</div>
