:host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 17px 10px 17px;
  border: 1px solid #d6d6d6;
  position: relative;
}

:host .el-content {
  color: #000;
  position: relative;
  z-index: 0;
}

:host /deep/ .content-input {
  border: 1px solid blue;
  outline: none;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  color: #000;
  position: relative;
  z-index: 10000;
  caret-color: #000;
  opacity: 0;
}

:host .el-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  line-height: 23px;
  z-index: 1;
  opacity: 1;
  caret-color: #000;
  box-sizing: border-box;
}

:host /deep/ .content-input:focus  + .el-view {
  border-left: 1px solid #000;
}

:host /deep/ .el-input-currency-label {
  font-size: 17px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 10px;
  color: #a59999;
}

:host.el-focused {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
  0 0 8px rgba(102, 175, 233, 0.6);
}
